*{
    margin: 0;
    padding: 0;
    text-align: center;
}


h1{
    color: white;
    background-color: rgb(14, 14, 63);
    height: 5rem;
    line-height: 5rem;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
}

.choice{
    height:165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(14, 14, 63) ;
}


.score-board{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
    gap:7rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}


.mssg-container{
    margin-top: 5rem;
}

#mssg{
    font-size: 1.5rem;
    background-color: rgb(14, 14, 63) ;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

button{
    margin-top: 3rem;
    border: none;
    background-color: rgb(14, 14, 63) ;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
}